﻿@model teamFourProjectTwo.Models.User

@{
    ViewBag.Title = "Login";
}
<div class="container">
    <div id="login-panel" class="panel panel-default center">
        @using (Html.BeginForm(new { @class = "form-signin" }))
            {
            @Html.AntiForgeryToken()
            <div id="login-icon-background" class="center">
                <h1 id="login-icon" class="text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></h1>
            </div>
                <h3 id="login-label" class="form-signin-heading text-center">Administrator Login</h3>
                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger center" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-lg center", placeholder = "Email Address" } })
                    <p class="text-center">@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</p>
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-lg center", placeholder = "Password" } })
                    <p class="text-center">@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger center" })</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-lg btn-success btn-block center" />
                </div>
        }
    </div>
</div>