﻿<!DOCTYPE html>
<html ng-app="store">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-flatly.min.css" rel="stylesheet" />
    <link href="~/Content/Store.css" rel="stylesheet" />
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-href="/#/" class="navbar-brand">Shop Brand Name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    @if (System.Web.HttpContext.Current.User != null && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("User Management", "Index", "Users", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API Documentation", "Index", "Help", new { area = "" }, null)</li>
                    }
                    else {
                        <li>
                            <a href="http://localhost:59367/#/shop">Shop</a>
                        </li>
                    }
                </ul>
                <ul ng-controller="CartCtrl as cart" class="nav navbar-nav navbar-right">
                    @if (System.Web.HttpContext.Current.User != null && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-divider hidden-md hidden-lg"></li>
                        <li class="hidden-sm hidden-xs">@Html.ActionLink("Signed in as " + HttpContext.Current.User.Identity.Name, "Index", "Users", new { area = "" }, new { @class = "admin-message" }) </li>
                        <li class="navbar-divider hidden-sm hidden-xs"> | </li>
                        <li>@Html.ActionLink("Sign out", "Logout", "Users", new { area = "" }, null)</li>


                    }
                    else

                    {
                        <li class="hidden-xs">@Html.ActionLink("Admin Portal", "Login", "Users", new { area = "" }, null)</li>
                        <li class="hidden-xs dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-shopping-cart cart hidden-xs" style="margin-right: 4px;"></i>
                                <span class="badge" style="bottom: 4px; position: relative;">{{cart.totalCount()}}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="product in cart.invoice.products" class="list-group-item" style="cursor: auto">
                                    <span class="badge">{{product.Quantity}}</span>
                                    <span class="text-center">
                                        <strong>{{product.Manufacturer.Name}}</strong> - 
                                        <em>{{product.Name}}</em>
                                    </span>
                                </li>
                                <li ng-show="cart.totalCount()===0" class="text-center list-group-item"><em>Cart is Empty</em></li>
                                <li ng-hide="cart.totalCount() === 0" class="btn-sm btn-info">
                                    <a class="text-center" href="http://localhost:59367/#/cart" style="color: white;">View Cart</a>
                                </li>
                            </ul>
                        </li>
                        <li class="hidden-sm hidden-md hidden-lg"><a href="#/cart">View Cart</a></li>
                        <li class="nav-divider hidden-md hidden-lg"></li>
                        <li class="hidden-sm hidden-md hidden-lg">@Html.ActionLink("Admin Portal", "Login", "Users", new { area = "" }, null)</li>

                    }

                </ul>


                

            </div>

        </div>
    </div>

    @RenderBody()
    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Store</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/routes.js"></script>
    <script src="~/Scripts/app/Products/ProductCtrl.js"></script>
    <script src="~/Scripts/app/Products/ProductFilters.js"></script>
    <script src="~/Scripts/app/Categories/CategoryCtrl.js"></script>
    <script src="~/Scripts/app/Categories/CategoryFactory.js"></script>
    <script src="~/Scripts/app/Manufacturers/ManufacturerCtrl.js"></script>
    <script src="~/Scripts/app/Manufacturers/ManufacturerFactory.js"></script>
    <script src="~/Scripts/app/Cart/CartCtrl.js"></script>
    <script src="~/Scripts/app/DataService.js"></script>
    <script src="~/Scripts/bootstrap-toolkit.min.js"></script>
    <script src="~/Scripts/script.js"></script>
</body>
</html>


