﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.well-table tr th {
    border-top: 0 !important;
}

.top-back-link {
    text-align: right;
    margin-top: 26px;
}

.center {
    margin: 0 auto;
}