﻿.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#login-panel {
    padding: 60px 30px; 
    margin-top: 80px;
    margin-bottom: 60px; 
    max-width: 400px; 
    border-radius: 2%
}

#login-icon-background {
    background-color: #E0E0E0; 
    border-radius: 50%; 
    width: 80px; 
    height: 80px;
}

#login-icon {
    height: 80px; 
    line-height: 90px;
}

#login-label {
    margin-top: 10px;
    margin-bottom: 20px;
}

.cart {
    font-size: 1.5em;
    line-height: 0.5em;
    margin-right: 10px;
}

.borderless {
    border: none;
}

.placeholder {
    height: 180px;
    background-color: #95a5a6;
}

.featured-product {
    
}

.admin-message {
    font-size: 0.8em;
    color: #7BBCE8 !important;
}

.admin-message:hover {
    text-decoration: underline !important;
}

.navbar-divider {
    padding: 10px 0 0 0; 
    font-size: 1.6em; 
    color: rgb(157,157,157);
}

.view-all-button {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.panel-heading {
    cursor: pointer;
}

.panel-heading:hover {
    background-color: #2C3E50;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.panel-title {
    font-weight: bold;
}

.sidebar-list-group-item {
    font-weight: inherit;
}

.sidebar-list-group-item:hover {
    cursor: pointer;
    background-color: #ECF0F1;
}

.sidebar-list-group-item input {
    display: none;
}

.sidebar-list-group-item input:checked + .sidebar-list-group-item-label {
    color: #18BC9C;
} 
/*
ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}*/

.jumbotron {
    color:white;
    background-image: url('assets/images/jumbotron/series_photo_18583.png');
    background-size: cover;
}