﻿<!-- Checkout Header -->
<div class="jumbotron">
    <div class="container body-content text-center">
        <h1>My Shopping Cart</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-7 text-left">Product</th>
                        <th class="col-md-1 text-center">Quantity</th>
                        <th class="col-md-1 text-right">Price</th>
                        <th class="col-md-1 text-right">Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in cart.invoice.products">
                        <td class="col-md-7">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#" style="margin-right: 10px;">
                                    <img class="media-object" ng-src="{{product.ImageUrl}}" style="width: 200px;">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{product.Name}}</a></h4>
                                    <h5 class="media-heading"> by <a href="#">{{product.Manufacturer.Name}}</a></h5>
                                    <span>Status: </span>
                                    <span ng-show="product.InventoryCount > 0" class="text-success"><strong>{{cart.isInStock(product)}}</strong></span>
                                    <span ng-show="product.InventoryCount < 0" class="text-muted"><strong>{{cart.isInStock(product)}}</strong></span>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input ng-model="product.Quantity" type="number" class="form-control input-sm" min="1" max="product.InventoryCount">
                        </td>
                        <td class="col-sm-1 col-md-1 text-right"><strong>{{product.Price | currency}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-right"><strong>{{product.Price * product.Quantity | currency}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-right">
                            <button ng-click="cart.removeFromCart(product)" type="button" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{cart.total() | currency}}</strong></h3></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                            <a class="btn btn-default" href="/#/">
                                <span class="glyphicon glyphicon-shopping-cart" style="margin-right: 5px;"></span> Continue Shopping
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-success" href="/#/review/">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>