﻿<!-- Checkout Header -->
<div class="jumbotron">
    <div class="container body-content text-center">
        <h1>Review Order</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-9 text-left">Product</th>
                        <th class="col-md-1 text-center">Quantity</th>
                        <th class="col-md-1 text-right">Price</th>
                        <th class="col-md-1 text-right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in cart.invoice.products">
                        <td class="col-md-9">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#" style="margin-right: 10px;">
                                    <img class="media-object" ng-src="{{product.ImageUrl}}" style="width: 200px;">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><strong>{{product.Name}}</strong></h4>
                                    <h5 class="media-heading"> by {{product.Manufacturer.Name}}</h5>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">{{product.Quantity}}</td>
                        <td class="col-sm-1 col-md-1 text-right">{{product.Price | currency}}</td>
                        <td class="col-sm-1 col-md-1 text-right">{{product.Price * product.Quantity | currency}}</td>
                    </tr>
                    <tr>
                        <td class="col-md-9"></td>
                        <td class="col-md-1"></td>
                        <td class="col-md-1 text-right"><h3>Total</h3></td>
                        <td class="col-md-1 text-right"><h3><strong>{{cart.total() | currency}}</strong></h3></td>
                    </tr>
                    <tr class="well">
                        <td style="vertical-align: middle;">
                            <form class="pull-right form-inline">
                                <label>Email Address:</label>
                                <input ng-model="cart.email" type="email" class="form-control" placeholder="email@email.com">
                            </form>
                        </td>
                        <td></td>
                        <td class="text-right">
                            <a href="/#/cart/" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil" style="margin-right: 5px;"></span> Edit Order
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" ng-click="cart.placeOrder()">
                                Place Order <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
