﻿<!-- Featured Item -->
<div class="jumbotron">
    <div class="container body-content text-center">
        <h1>Corvette Stingray</h1>
        <p class="lead">Here are some interesting details about the Chevrolet Corvette Stingray</p>
    </div>
</div>
<div id="main-container" class="container">
    <!-- Sidebar -->
    <div class="col-md-3">
        <div class="panel-group hidden-xs hidden-sm">
            <div class="panel" is-open="isOpen2">
                <div ng-click="ManufacturerListIsOpen = !ManufacturerListIsOpen" class="panel-heading" data-toggle="collapse" data-target="#collapse2">
                    <h4 class="panel-title">
                        <span>
                            <span class="hidden-md">Shop by Manufacturer</span>
                            <span class="hidden-xs hidden-sm hidden-lg" style="font-size: 0.9em;">Shop by Manufacturer</span>
                            <i class="pull-right fa fa-angle-right"
                               ng-class="{'fa-angle-right': ManufacturerListIsOpen, 'fa-angle-down': !ManufacturerListIsOpen}"></i>
                        </span>
                    </h4>
                </div>
                <div ng-controller="ManufacturerCtrl as store" id="collapse2" class="panel-collapse collapse in">
                    <div class="list-group">
                        <label ng-repeat="manufacturer in manufacturers | orderBy:'Name'" class="list-group-item sidebar-list-group-item">
                            <input type="checkbox" name="selectedManufacturers[]" value="{{manufacturer.Name}}" ng-model="manufacturer.isSelected" />
                            <span class="sidebar-list-group-item-label">{{manufacturer.Name}}</span>
                            <span ng-show="manufacturer.isSelected" class="pull-right">
                                <i class="fa fa-times text-danger "></i>
                            </span>

                        </label>
                    </div>
                </div>
            </div>
            <div class="panel" is-open="isOpen1">
                <div ng-click="CategoryListIsOpen = !CategoryListIsOpen" class="panel-heading" data-toggle="collapse" data-target="#collapse1">
                    <h4 class="panel-title">
                        <span>
                            Shop by Category
                            <i class="pull-right fa fa-angle-right"
                               ng-class="{'fa-angle-right': CategoryListIsOpen, 'fa-angle-down': !CategoryListIsOpen}"></i>
                        </span>
                    </h4>
                </div>
                <div ng-controller="CategoryCtrl as store" id="collapse1" class="panel-collapse collapse in">
                    <div class="list-group">
                        <label ng-repeat="category in categories | orderBy:'Name'" class="list-group-item sidebar-list-group-item">
                            <input type="checkbox" name="selectedCategories[]" value="{{category.Name}}" ng-model="category.isSelected" />
                            <span class="sidebar-list-group-item-label">{{category.Name}}</span>
                            <span ng-show="category.isSelected" class="pull-right">
                                <i class="fa fa-times text-danger"></i>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group hidden-md hidden-lg" style="margin-bottom: 10px;">
            <div class="panel" is-open="isOpen2">
                <div ng-init="ManufacturerListIsOpen = !ManufacturerListIsOpen" ng-click="ManufacturerListIsOpen = !ManufacturerListIsOpen" class="panel-heading" data-toggle="collapse" data-target="#collapse4">
                    <h4 class="panel-title">
                        <span>
                            <span class="hidden-md">Shop by Manufacturer</span>
                            <span class="hidden-xs hidden-sm hidden-lg" style="font-size: 0.9em;">Shop by Manufacturer</span>
                            <i class="pull-right fa fa-angle-right"
                               ng-class="{'fa-angle-right': ManufacturerListIsOpen, 'fa-angle-down': !ManufacturerListIsOpen}"></i>
                        </span>
                    </h4>
                </div>
                <div ng-controller="ManufacturerCtrl as store" id="collapse4" class="panel-collapse collapse">
                    <div class="list-group">
                        <label ng-repeat="manufacturer in manufacturers | orderBy:'Name'" class="list-group-item sidebar-list-group-item">
                            <input type="checkbox" name="selectedManufacturers[]" value="{{manufacturer.Name}}" ng-model="manufacturer.isSelected" />
                            <span class="sidebar-list-group-item-label">{{manufacturer.Name}}</span>
                            <span ng-show="manufacturer.isSelected" class="pull-right">
                                <i class="fa fa-times text-danger "></i>
                            </span>

                        </label>
                    </div>
                </div>
            </div>
            <div class="panel" is-open="isOpen1">
                <div ng-init="CategoryListIsOpen = !CategoryListIsOpen" ng-click="CategoryListIsOpen = !CategoryListIsOpen" class="panel-heading" data-toggle="collapse" data-target="#collapse3">
                    <h4 class="panel-title">
                        <span>
                            Shop by Category
                            <i class="pull-right fa fa-angle-right"
                               ng-class="{'fa-angle-right': CategoryListIsOpen, 'fa-angle-down': !CategoryListIsOpen}"></i>
                        </span>
                    </h4>
                </div>
                <div ng-controller="CategoryCtrl as store" id="collapse3" class="panel-collapse collapse">
                    <div class="list-group">
                        <label ng-repeat="category in categories | orderBy:'Name'" class="list-group-item sidebar-list-group-item">
                            <input type="checkbox" name="selectedCategories[]" value="{{category.Name}}" ng-model="category.isSelected" />
                            <span class="sidebar-list-group-item-label">{{category.Name}}</span>
                            <span ng-show="category.isSelected" class="pull-right">
                                <i class="fa fa-times text-danger"></i>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Shop -->
    <div class="col-sm-12 col-md-9" ng-controller="ProductCtrl as store">
        <!-- Search and Sort Menu Container -->
        <div class="col-sm-12 col-md-12" style="padding-bottom: 6px;">
            <form class="form-inline hidden-xs">
                <!-- Search Menu -->
                <div class="form-group pull-left">
                    <!-- Dropdown menu that allows user to search by 'Name', 'Price', 'Category', or 'Manufacturer' -->
                    <select ng-options="opt as opt.label for opt in store.searchOptions"
                            ng-init="store.searchFilter = store.searchFilter"
                            ng-model="store.searchFilter"
                            ng-change="store.clearSearch()"
                            id="sortByValue"
                            class="form-control input-sm"></select>
                    <!-- Search Input Box:
                         - Numerous search boxes exist, with only one being displayed at a time.
                         - Each independent search box will filter results based on 'All', 'Name', 'Price', 'Category', or 'Manufacturer'.
                         - Chose to go with 4 separate input because of trouble accessing property within object when modifying only the input models
                    -->
                    <div class="input-group">
                        <input ng-model="store.search.Name" ng-show="store.searchFilter.val === 'name'"
                               type="search" class="form-control input-sm" placeholder="Search" />
                        <input ng-model="store.search.Price" ng-show="store.searchFilter.val === 'price'"
                               type="search" class="form-control input-sm" placeholder="Search" />
                        <input ng-model="store.search.Category.Name" ng-show="store.searchFilter.val === 'category'"
                               type="search" class="form-control input-sm" placeholder="Search" />
                        <input ng-model="store.search.Manufacturer.Name" ng-show="store.searchFilter.val === 'manufacturer'"
                               type="search" class="form-control input-sm" placeholder="Search" />
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sort Menu-->
                <div class="form-group pull-right">
                    <!-- Dropdown menu that allows user to sort By 'Name', 'Price', 'Category', or 'Manufacturer' -->
                    <label class="control-label" for="sortByValue">Sort by:</label>
                    <select ng-options="opt as opt.label for opt in store.sortByOptions"
                            ng-init="store.sortByValue = store.sortByValue"
                            ng-model="store.sortByValue"
                            id="sortByValue"
                            class="form-control input-sm"></select>

                    <!-- Dropdown menu that allows user to sort in Ascending or Descending Order-->
                    <select ng-options="opt as opt.label for opt in store.orderOptions"
                            ng-init="store.sortOrder = store.sortOrder"
                            ng-model="store.sortOrder"
                            class="form-control input-sm"></select>

                    <!-- Switch between grid view and list view for products (Functionality not yet implemented) -->
                    <div class="btn-group pull-right hidden">
                        <button class="btn btn-link btn-sm" type="button">
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-link btn-sm" type="button">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row hidden-sm hidden-md hidden-lg" style="margin-bottom: 10px;">
            <div class="col-sm-12">
                <div class="input-group">
                    <input ng-model="store.search.Name" ng-show="store.searchFilter.val === 'name'" type="search" class="form-control" placeholder="Search" style="max-width: 100%;" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                    </span>
                </div>
            </div>
        </div>
        


        <!-- Product List -->
        <div class="col-md-12">
            <table class="table" style="border-top: 1px solid #ECF0F1;">
                <tbody>
                    <tr>
                        <th class="col-md-8" style="vertical-align:middle;">
                            Product
                        </th>
                        <th class="col-md-2 text-right" style="vertical-align:middle;">
                            Price
                        </th>
                        <th class="col-md-1 text-center">
                            Qty
                        </th>
                        <th class="col-md-1">

                        </th>
                    </tr>
                <tr ng-repeat="product in products |
                            byCategory:store.selectedCategories |
                            byManufacturer:store.selectedManufacturers |
                            orderBy: store.sortByValue.val : store.sortOrder.val |
                            filter: store.search : strict"
                        ng-show="true"
                        style="vertical-align:middle; border-bottom: 1px solid #ECF0F1;">
                        <td class="col-xs-5 col-sm-7 col-md-6" style="vertical-align:middle;">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#" style="margin-right: 10px;">
                                    <img class="media-object"ng-src="{{product.ImageUrl}}" style="width: 200px;">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><strong>{{product.Name}}</strong></h4>
                                    <h5 class="media-heading"> by {{product.Manufacturer.Name}}</h5>
                                </div>
                            </div>
                        </td>
                        <td class="col-xs-2 col-sm-2 col-md-2 text-right">
                            {{product.Price | currency}}
                        </td>
                        <td class="col-xs-3 col-sm-1 col-md-2 text-right">
                            <input type="number" ng-model="quantity" ng-init="quantity=1" class="form-control input-sm form-inline" min="1" max="{{product.InventoryCount}}" />
                        </td>
                        <td class="col-xs-2 col-sm-2 col-md-2">
                            <button ng-click="addToCart(product, quantity); quantity = 1" type="button" class="btn btn-sm btn-warning hidden-xs">
                                <span class="glyphicon glyphicon-plus-sign" style="margin-right: 5px;" aria-hidden="true"></span>Add to Cart
                            </button>
                            <button ng-click="addToCart(product, quantity); quantity = 1" type="button" class="btn btn-sm btn-warning hidden-sm hidden-md hidden-lg">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Cart
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>