@using System.Web.Http
@using teamFourProjectTwo.Areas.HelpPage.ModelDescriptions
@model ModelDescription

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div class="container">
    <div id="body" class="help-page">
        <section class="featured">
            <div class="content-wrapper">
                <p>
                    @*@Html.ActionLink("Help Page Home", "Index")*@
                </p>
            </div>
        </section>
        <h1>@Model.Name</h1>
        <p>@Model.Documentation</p>
        <section class="content-wrapper main-content clear-fix">
            @Html.DisplayFor(m => Model)
        </section>
    </div>
</div>